/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

#wrapper {
    max-width: 940px;
    margin: 0 auto;
}

section#header {
    padding-top: 24px;
    text-align: center;
}

section#header h1 {
    color: #3d464d;
    font-size: 20px;
    padding: 20px 0;
}

section#header p {
    margin: 0 200px;
    padding-bottom: 20px;
    line-height: 180%;
}

section#header .underline {
    margin: 0 320px;
    border-bottom: #d8e0e6 solid 1px;
}

section.category {
    clear: both;
}

section.category h2 {
    font-size: 26px;
    font-weight: 300;
    padding-bottom: 24px;
}

ul {
    display: block;
    list-style-type: none;
    /* margin-block-start: 1em;
    margin-block-end: 1em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* padding-inline-start: 40px; */
}

ul.publications li {
    float: left;
    /* width: 45%; */
    /* min-height: 230px; */
    width: 100%;
    min-height: 110px;
    border: #d8e0e6 solid 1px;
    border-radius: 5px;
    padding: 20px 20px 16px;
    margin: 0 20px 20px 0;
}

/* ul.publications li:nth-child(3n) {
    margin-right: 0;
} */

ul.publications h3 {
    color: #3d464d;
    font-size: large;
    padding-bottom: 16px;
    border-bottom: #d8e0e6 solid 1px;
}

/* ul.publications h3 a {
    color: #3d464d;
} */

ul.publications div.conference {
    float: right;
    min-width: 30%;
    text-align: right;
    margin: 0 0 0 5px;
}

ul.publications p {
    margin-top: 6px;
    margin: 0 0 0 0;
}

ul.publications p.authors {
    font-size: small;
    margin: 0 0 10px 0;
}

ul.publications p.description {
    margin-top: 12px;
    line-height: 160%;
}

ul.publications p.github,
ul.publications p.demo,
ul.publications p.misc {
    float: left;
    padding: 0 10px 0 0;
    font-size: medium;
}

section#footer {
    clear: both;
    text-align: center;
    padding-top: 50px;
}

section#footer ul {
    border-top: #d8e0e6 solid 1px;
    padding: 30px 0 84px;
}

section#footer li {
    display: inline-block;
    margin: 0 10px;
}

section#cla h3 {
    margin-top: 50px;
}

section#cla ul {
    margin: 20px 0;
}

section#cla ul.bullets {
    list-style-type: disc;
    margin-left: 20px;
}

section#cla li {
    margin-bottom: 20px;
}

section#cla p {
    margin-top: 20px;
    line-height: 180%;
}

section#cla-form iframe {
    margin-top: 30px;
    margin-left: -10px;
}

section#coc {
    margin-bottom: 50px;
}

section#coc h3 {
    margin-top: 50px;
    font-weight: 600;
}

section#coc strong {
    font-weight: 600;
}

section#coc ul {
    margin: 20px 0;
}

section#coc ul.bullets {
    list-style-type: disc;
    margin-left: 20px;
}

section#coc ul.inner {
    list-style-type: disc;
    margin-left: 40px;
}

section#coc li {
    margin-bottom: 20px;
    line-height: 180%;
}

section#coc ul.inner li {
    margin-bottom: 10px;
}

section#coc p {
    margin-top: 20px;
    line-height: 180%;
}